################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/DesignPatterns/.vs/DesignPatterns/FileContentIndex/27ca4323-3b52-41a5-8ed8-66887c60bc4d.vsidx
